## Label Encoder 만들기

In [1]:
# scikit-learn의 sample data load.
from sklearn.datasets import load_iris
iris = load_iris()

In [2]:
# dataframe 형태로 변환해서 분석 시작.
import numpy as np
import pandas as pd

# feature names와 target을 record로 갖는 데이터프레임 생성.

data = pd.DataFrame(data=iris.data,columns=iris.feature_names)
data['target'] = iris.target
data

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [3]:
# target 값 0 : setosa, 1 : versicolor, 2:'virginica'
data['target'] = data['target'].map({0:'setosa',1:'versicolor',2:'virginica'})
data

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

In [4]:
# object 형태의 데이터를 Label Encoder를 통해서 변환.

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

c = data.columns[data.dtypes=='object']
c

Index(['target'], dtype='object')

In [5]:
for i in c:
    data[i] = le.fit_transform(data[i])
    
data

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2